.actions {
    gap: 8px;
}
.form-group {
    position: relative;
}
.form-group > .invalid-feedback {
    position: absolute;
    bottom: -19px;
}
.custom-upload-dropzone {
    border: 5px dashed var(--text-gray);
    border-radius: 5px;
}
/* #importFile {
    display: none; 
} */
#dragZone {
    transition: border-width 0.2s;
    cursor: pointer;
}
#dragZone.drag-over {
    border-width: 7px;
}
#filePreview {
    gap: 8px;
}
#removeFileBtn {
    cursor: pointer;
}

.table td {
    vertical-align: middle !important;
    text-align: center;
}
.table thead th {
    vertical-align: middle;
    text-align: left;
}
.table th,
.table td {
    padding: 0.3rem 0.5rem;
}
.remarks-column {
    font-size: 0.75rem;
}

.action-column {
    gap: 8px;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid var(--gray-dark);
    margin: 0 !important;
    color: var(--dark);
}
#allRequestsTable,
#requestHistoryTable,
#inventoryTable {
    border-left: 1px solid var(--gray-dark);
    border-bottom: 1px solid var(--gray-dark);
}

/* #repairItemModal {
    z-index: 1070;
#requestHistoryTable tbody tr:nth-child(odd),} */
#allRequestsTable tbody tr:nth-child(odd),
#requestHistoryTable tbody tr:nth-child(odd),
#inventoryTable tbody tr:nth-child(odd),
#repairHistoryTable tbody tr:nth-child(odd) {
    background-color: var(--bs-white);
}
#allRequestsTable tbody tr:nth-child(even),
#requestHistoryTable tbody tr:nth-child(even),
#inventoryTable tbody tr:nth-child(even),
#repairHistoryTable tbody tr:nth-child(even) {
    background-color: var(--bs-table-bg);
}
#allRequestsTable,
#requestHistoryTable,
#inventoryTable,
#repairHistoryTable {
    --bs-table-bg: none;
}
#allRequestsTable thead th,
#requestHistoryTable thead th,
#inventoryTable thead th,
#repairHistoryTable thead th {
    background-color: var(--primary);
    color: var(--text-white);
}
