#ticketModalTitle {
    text-transform: capitalize;
}

#pendingTicketList,
#closedTicketList,
#forApprovalContainer {
    overflow: auto;
    max-height: 700px;
}

/* Customize the scrollbar */
.similar-ticket::-webkit-scrollbar,
#pendingTicketList::-webkit-scrollbar,
#closedTicketList::-webkit-scrollbar,
#forApprovalContainer::-webkit-scrollbar {
    width: 4px;
    /* Set the scrollbar width */
}

.similar-ticket::-webkit-scrollbar-thumb #pendingTicketList::-webkit-scrollbar-thumb,
#closedTicketList::-webkit-scrollbar-thumb,
#forApprovalContainer::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    /* Thumb color */
    border-radius: 4px;
    /* Rounded corners for the scrollbar thumb */
}

.similar-ticket::-webkit-scrollbar-track #pendingTicketList::-webkit-scrollbar-track,
#closedTicketList::-webkit-scrollbar-track,
#forApprovalContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track background color */
}

.similar-ticket::-webkit-scrollbar-button #pendingTicketList::-webkit-scrollbar-button,
#closedTicketList::-webkit-scrollbar-button,
#forApprovalContainer::-webkit-scrollbar-button {
    display: none;
    /* Remove the arrows */
}

/* Firefox scrollbar customization (optional, modern browsers only) */
.similar-ticket,
#pendingTicketList,
#closedTicketList,
#forApprovalContainer {
    scrollbar-width: thin;
    /* Makes the scrollbar thin */
    scrollbar-color: var(--gray) #f1f1f1;
    /* Thumb and track color */
}

.similar-ticket {
    overflow: auto;
    max-height: 400px;
}

#ticketTable tbody tr {
    cursor: pointer;
}

#overdue-tasks,
#today-due-tickets,
#open-tickets,
#for-approval-tickets,
#unassigned-tickets,
#all-overdue-tasks,
#all-today-due-tickets,
#all-open-tickets,
#all-for-approval-tickets,
#reopen-tickets,
#closed-tickets,
#all-tickets {
    cursor: pointer;
}

#overdue-tasks:hover,
#today-due-tickets:hover,
#open-tickets:hover,
#for-approval-tickets:hover,
#unassigned-tickets:hover,
#all-overdue-tasks:hover,
#all-today-due-tickets:hover,
#all-open-tickets:hover,
#all-for-approval-tickets:hover,
#reopen-tickets:hover,
#closed-tickets:hover,
#all-tickets:hover {
    color: #42855b;
    text-decoration: underline;
}

#overdue-tasks,
#all-overdue-tasks {
    color: red;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

#chatbox {
    position: fixed;
    float: right;
    bottom: 0;
    right: 20px;
    width: 300px;
    max-height: 410px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 1;
    font-size: 14px;
}

.chatbox-header {
    padding: 10px;
    background-color: #356b49;
    color: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-chatbox {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.chatbox-messages {
    padding: 10px;
    max-height: 300px;
    overflow: hidden auto;
    scrollbar-width: thin;
    flex-grow: 1;
}

.chatbox-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chatbox-input input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chatbox-input button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #356b49;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.chat-message.unread {
    background-color: #ebebeb;
}

.chat-message.read {
    background-color: #ffffff;
}

.modal-xl {
    font-size: 14px;
}

.unassigned {
    background-color: #eeeeee;
}

.table-bg-primary tr th {
    background-color: #356b49;
    color: #fff;
}

.chat-message {
    word-wrap: break-word;
    white-space: pre-wrap;
}

#chatHistory {
    overflow-y: auto;
    /* scroll vertical */
    flex-grow: 1;
    /* fill available space */
}

.chat-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* to allow flex-grow on chatHistory */
}