.table td {
    padding: 0.3rem 0.5rem;
}
/* .table-bordered th,
.table-bordered td {
    border: 1px solid var(--gray-dark);
    margin: 0 !important;
    color: var(--dark);
} */
#viewInquiriesModal tbody tr:nth-child(odd),
#viewInquiriesByProspectModal tbody tr:nth-child(odd) {
    background-color: var(--bs-white);
}
#viewInquiriesModal tbody tr:nth-child(even),
#viewInquiriesByProspectModal tbody tr:nth-child(even) {
    background-color: var(--bs-table-bg);
}
#viewInquiriesModal,
#viewInquiriesByProspectModal {
    --bs-table-bg: none;
}
#viewInquiriesModal thead th,
#viewInquiriesByProspectModal thead th {
    background-color: var(--primary);
    color: var(--text-white);
}
