.radio-column {
    border: 1px solid rgb(209, 211, 226);
    background-color: var(--bs-body-bg);
    border-radius: 0.2rem;
    transition: background-color 250ms ease, border 150ms ease-in-out;
    cursor: pointer;
}
.radio-column > * {
    cursor: pointer;
}
.radio-column:hover {
    background-color: rgb(209, 211, 226);
}
.radio-column.radio-invalid {
    border: 1px solid var(--danger) !important;
    position: relative;
}

.radio-column.radio-invalid::after {
    content: "!";
    color: var(--danger);
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid var(--danger);
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.form-step {
    position: relative;
}
.invalid-feedback {
    position: absolute;
    bottom: -27px;
    width: auto !important;
}
