.table-bordered th,
.table-bordered td {
    border: 1px solid var(--gray-dark);
    margin: 0 !important;
    color: var(--dark);
}
#groupsTable,
#groupingsTable {
    border-left: 1px solid var(--gray-dark);
    border-bottom: 1px solid var(--gray-dark);
}
#groupsTable tbody tr:nth-child(odd),
#groupingsTable tbody tr:nth-child(odd) {
    background-color: var(--bs-white);
}
#groupsTable tbody tr:nth-child(even),
#groupingsTable tbody tr:nth-child(even) {
    background-color: var(--bs-table-bg);
}
#groupsTable,
#groupingsTable {
    --bs-table-bg: none;
}
#groupsTable thead th,
#groupingsTable thead th {
    background-color: var(--primary);
    color: var(--text-white);
}
