.remarks-column {
    font-size: 0.75rem;
}
.table td {
    vertical-align: middle !important;
    text-align: center;
}
.table thead th {
    vertical-align: middle;
    text-align: left;
}
.table th,
.table td {
    padding: 0.5rem 0.5rem;
}
.remarks-column {
    font-size: 0.75rem;
}

.action-column {
    gap: 8px;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid var(--gray-dark);
    margin: 0 !important;
    color: var(--dark);
}

#forDisposalTable tbody tr:nth-child(odd),
#disposableItemsTable tbody tr:nth-child(odd) {
    background-color: var(--bs-white);
}

#forDisposalTable tbody tr:nth-child(even),
#disposableItemsTable tbody tr:nth-child(even) {
    background-color: var(--bs-table-bg);
}
#forDisposalTable,
#disposableItemsTable {
    --bs-table-bg: none;
}
#forDisposalTable thead th,
#disposableItemsTable thead th {
    background-color: var(--primary);
    color: var(--text-white);
}

.custom-upload-dropzone {
    border: 5px dashed var(--text-gray);
    border-radius: 5px;
}
.file-upload-contain {
    height: 90%;
}
#dragZone {
    transition: border-width 0.2s;
    cursor: pointer;
    height: 100%;
}
#dragZone.drag-over {
    border-width: 7px;
}
#filePreview {
    gap: 8px;
}
#removeFileBtn {
    cursor: pointer;
}
#disposableItemsTable_wrapper > div:nth-child(2) {
    max-height: 372px;
    min-height: 372px;
    overflow: scroll;
}
