.actions {
    gap: 8px;
}
.form-group {
    position: relative;
}
.form-group > .invalid-feedback {
    position: absolute;
    bottom: -19px;
}
.custom-upload-dropzone {
    border: 5px dashed var(--text-gray);
    border-radius: 5px;
}
#importFile {
    /* display: none; */
}
#dragZone {
    transition: border-width 0.2s;
    cursor: pointer;
}
#dragZone.drag-over {
    border-width: 7px;
}
#filePreview {
    gap: 8px;
}
#removeFileBtn {
    cursor: pointer;
}

.table td {
    vertical-align: middle !important;
    text-align: center;
}
.table thead th {
    vertical-align: middle;
    text-align: left;
}
.table th,
.table td {
    padding: 0.3rem 0.5rem;
}
.remarks-column {
    font-size: 0.75rem;
}
