:root {
    --primary-color: #42855B !important;
    --primary-color-dark: #356b49 !important;

    --text-white: #f6f6f6 !important;
    --text-gray: #858796 !important;
    --text-black: #1c1427 !important;
}
.fixed-bottom-left {
    position: fixed;     
    bottom: 20px;        
    left: 4.5%;          
    z-index: 1000;       
    color: #fff;        
    border: none;      
    width: 50px;    
    height: 50px;       
    border-radius: 50%;  
    cursor: pointer;      
    display: flex;       
    align-items: center;  
    justify-content: center;
}
