:root {
    --primary-color: #7eca9c !important;
    --primary-color-dark: #6cad86 !important;

    --text-white: #f6f6f6 !important;
    --text-gray: #858796 !important;
    --text-black: #1c1427 !important;
}

    