:root {
    --primary-color: #42855b !important;
    --primary-color-dark: #356b49 !important;

    --text-white: #f6f6f6 !important;
    --text-gray: #858796 !important;
    --text-black: #1c1427 !important;
}

.fixed-bottom-left {
    position: fixed;
    bottom: 20px;
    left: 4.5%;
    z-index: 1000;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .side-item {
    max-width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
        inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
    transition: 0.5s;
} */

.side-item:hover {
    animation: ease-out 5s;
    background: rgba(173, 173, 173, 0.05);
}

.side-item ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.side-item ul li {
    cursor: pointer;
}

.sidebar ul.active {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}

.svg {
    transition: all 0.3s;
    /* if you find some problems change w - h : 30px*/
    padding: 1rem;
    height: 50px;
    width: 50px;
    font-size: 18px;
    border-radius: 100%;
    color: #fff;
    background-color: #42855b;
    fill: currentColor;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.text {
    opacity: 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    transition: all 0.3s;
    color: #356b49;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 1;
    box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
        -10px 0 1px rgba(153, 153, 153, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.iso-pro {
    transition: 0.5s;
}

.iso-pro:hover a > .svg {
    transform: translate(15px, -15px);
    color: #356b49;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
}

.iso-pro:hover .text {
    opacity: 1;
    transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .svg {
    transform: translate(5px, -5px);
}

.iso-pro span {
    opacity: 0;
    position: absolute;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 50px;
    width: 50px;
}

.iso-pro:hover span {
    opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
    opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.modal.fade .modal-dialog {
    transition: transform 150ms ease-in, opacity 150ms ease-in;
}

.fa-classic,
.fa-regular,
.fa-solid,
.far,
.fas {
    font-family: "Font Awesome 6 Pro" !important;
}

.notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
}

.notification {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.notification.show {
    opacity: 1;
    transform: translateX(0);
}
